:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --hover-logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --temporary-background-color: #808080;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
  /* outline: 2px solid tomato; */
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* Page header */
.page-header {
  background-color: var(--white-color);
  margin-bottom: 0px;
}

/* logo */
.logo {
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--hover-logo-web-color);
}
.logo-studio {
  color: var(--logo-studio-color);
}

.logo-nav {
  display: flex;
  align-items: center;
}
/* site-nav */

.site-nav {
  display: flex;
  margin-left: 80px;
}
.site-nav .item {
  /* outline: 2px solid red; */
  /* background-color: green; */
}

.site-nav .item + .item {
  margin-left: 50px;
}
/* ДРУГИЙ ВАРІАНТ ДОАБАВИТИ марджини між елемнтами .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--hover-logo-web-color);
}
.tel,
.mail {
  color: var(--second-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-logo-web-color);
}

.mail:hover,
.tel:hover {
  color: var(--hover-logo-web-color);
}
.mail-tel-info {
  display: flex;
  margin-left: auto;

  margin-top: 0px;
  margin-bottom: 0px;
}

.mail-tel-info .item + .item {
  margin-left: 30px;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
}
.mail-tel-box {
  display: flex;
}
.mail-tel-box .mail,
.mail-tel-box .tel {
  margin-left: 10px;
}

/* hero */
.hero {
  /* outline: 2px solid tomato; */

  text-align: center;
  margin-bottom: 94px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  color: var(--white-color);
  background-color: var(--temporary-background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  /* text-align: center; */

  color: var(--white-color);
  background-color: var(--hover-logo-web-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* section */

.section {
  padding-top: 0px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Soft */
.section-title.no-visual {
  display: none;
}
.soft-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}

.soft-list .item + .item {
  margin-left: 30px;
}

.section-soft {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.soft-details {
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
.soft-img {
  width: 278px;
  height: 120px;
  background-color: var(--button-background-color);
}
.soft-img:hover,
.soft-img:focus {
  background-color: var(--hover-logo-web-color);
}
/* Tech */
.tech-list {
  display: flex;
}
.tech-list .item + .item {
  margin-left: 30px;
}

.tech-list.list {
  padding-left: 0px;
  justify-content: center;
}

.section-title {
  margin-bottom: 50px;
}

.section-work {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 380px;
  height: 70px;
  align-items: center;
  justify-content: center;

  color: var(--white-color);
  background-color: var(--temporary-background-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

img {
  display: block;
}

/* Team */
.team-list {
  display: flex;
}

.team-list.list {
  justify-content: center;
  padding-left: 0px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-social-logo {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
  padding-left: 0px;
}

.team-social-logo .item-logo:hover {
  background-color: var(--hover-logo-web-color);
}

.team-list .item {
  background-color: var(--white-color);
}

.section .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section .team-position {
  margin-top: 10px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}

.section.background-color {
  background-color: var(--button-background-color);
}

.section-title.team {
  padding-top: 94px;
  margin-bottom: 50px;
}

/* Regular customers */
.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list.list {
  padding-left: 0px;
}

.section-title.customers {
  padding-top: 94px;
  margin-bottom: 50px;
}

.customers-list .item-logo:hover,
.customers-list .item-logo:focus {
  background-color: var(--hover-logo-web-color);
}

/* footer */
.footer-container {
  display: flex;
}

.join-container {
  margin-left: 179px;
  margin-top: 56px;
}
.footer {
  /* outline: 2px solid tomato; */
  background-color: var(--footer-background-color);
}
.address {
  color: var(--white-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress-container {
  margin-top: 56px;
}

.footer-social-logo {
  display: flex;
  width: 207px;
  justify-content: space-between;
  padding-left: 0px;
}

.footer .logo-studio-footer {
  color: var(--white-color);
}
.footer-social-logo .item + item {
  margin-left: 10px;
}
.address > .mailtel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.address .city {
  font-style: normal;
}
.adress .city,
.adress mailtel {
  margin-bottom: 6px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social-logo .item-logo:hover {
  background-color: var(--hover-logo-web-color);
}

.developers {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* ПОРТФОЛІО */
.section.portfolio {
  padding-top: 0px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.portfolio-projects {
  margin: 0px;
  display: none;
}

.button.block {
  display: flex;
  justify-content: center;

  margin-top: 0px;
  margin-bottom: 50px;
}

.container.flex {
  display: flex;
  flex-wrap: wrap;
  /* background-color: teal; */
}
.flex-element {
  width: 380px;
  /* background-color: tomato; */
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/*ЧОМУСЬ НЕ ПРЦЮЄ .block .button-portfolio + .button-portfolio {
  margin-left: 8px;
} */
/*ЧОМУСЬ НЕ ПРЦЮЄ .button-portfolio:not(:first-child) {
  margin-left: 8px;
} */
.button-portfolio {
  margin-left: 10px;
}
.button-portfolio.no-margin {
  margin-left: 0px;
}
.list-projects {
  margin-top: 0px;
  margin-bottom: 0px;
}
.link-projects {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link-projects .filter-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-name {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.filter-details {
  display: none;

  color: var(--white-color);
  background-color: var(--temporary-background-color);

  font-size: 18px;
  line-height: 1.56;
}

.button .button-portfolio {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button .button-portfolio:hover,
.button .button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--hover-logo-web-color);
}
.footer.section.no-padding {
  padding-bottom: 0px;
}
